/*------
Fonts
--------*/
@import url('fonts.css');
/*------
Reset
--------*/
@import url('reset.css');
/*------
Variables
--------*/
:root{
    --font-heading:'Merienda', sans-serif;
    --font-body: 'Merienda', sans-serif;
    --color1: #221913;
    --color2: #410D1E;
    --color3: #C0D2D6;
    --color4: #C1B7A9;
}
/*--------
General
--------*/
body{
    background-color: var(--color2);
    color:var(--color3);
    main{
        header{
            background-color: var(--color2);
            opacity: 100%;
            position: fixed;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between ;
            height: 100px;
            width: 100%;
            padding-inline: 1rem;
            img{
                width: 200px;
            }
            nav{
                display: flex;
                gap: 1rem;
                a:is(:link, :visited){
                    color: var(--color3);
                    font-family: var(--font-heading);
                    text-decoration: none;
                    font-size: 25px;
                    display: flex;
                    flex-direction: column;
                    transition: transform 0.2s ease-in;
                    align-items: center;
                    width: 170px;
                }
                a:is(:hover){
                    transform: scale(1.1);
                    transform: translateY(5px);
                }
            }
        }
        div.owl-nav{
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50% + 80px);
            button{
                transition: all 0.4s ease-in;
                  span{
                    font-size: 60px;
                    opacity: 90%;
                    display: center;
                    height: 70px;
                    width: 70px;
                    text-indent: -9999px;
                  }  
                }
                button.btn-prev{
                    &:hover{
                        background: transparent !important;
                        transform: translatex(-5px);
                    }
                    span{
                        background: url(../images/btn-Prev.svg) no-repeat center;
                    }
                }
                button.btn-next{
                    &:hover{
                        
                        background: transparent !important;
                        transform: translatex(5px);
                    }
                    span{
                        background: url(../images/btn-Next.svg) no-repeat center;
                    }
                }
            }
        /* section slider */
        section.slider1{
            padding-top: 80px;
            background-color: var(--color1);
                div.owl-dots{
                    z-index: 0px;
                    position: relative;
                    margin-top: -30px;
                    button.owl-dot{
                        span{
                            transition: all 0.4s ease-in;
                            width: 15px;
                            height: 15px;
                            background-color: var(--color3);
                        }
                    }
                    button.owl-dot.active{
                        span{
                            background-color: var(--color1);
                        }
                    }
                    button.owl-dot:hover{
                        span{
                            background-color: var(--color3);
                            transform: scale(1.5);
                        }
                    }
                }
            }
            /* section: characters*/
            section.characters {
                background-color: var(--color1);
                padding: 50px ;
                h2 {
                    text-align: center;
                    margin-right: -500px;
                    width: 350px;
                    font-family: var(--font-heading);
                    font-size: 24px;
                }
                div.slider2 {
                    margin-inline: auto;
                    margin-block: 2rem;
                    width: 90%;
                    article {
                        height: 800px;                  
                        figure {
                            img {
                                width: 300px;
                                height: 300px;
                                margin: 0 auto;
                                display: block;
                            }
                            figcaption {
                                background-color: var(--color1);
                                color: var(--color3);
                                font-family: var(--font-body);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 24px;
                                height: 100px;
                                text-align: center;
                            }
                            p {
                                height: 100px;
                                color: var(--color2);
                                background-color: var(--color4);
                                font-size: 18px;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
            
            section.weapons {
                background-color: var(--color1);
                padding: 50px;
                
                h2 {
                    color: var(--color3);
                    text-align:center;
                    margin-right: -500px;
                    width: 350px;
                    font-family: var(--font-heading);
                    font-size: 24px;
                }
                div.slider3 {
                    margin-inline: auto;
                    margin-block: 2rem;
                    width: 90%;
                    article {
                        height: 800px;                  
                        figure {
                            img {
                                width: 300px;
                                height: 300px;
                                margin: 0 auto;
                                display: block;
                            }
                            figcaption {
                                background-color: var(--color1);
                                color: var(--color3);
                                font-family: var(--font-body);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 24px;
                                height: 100px;
                                text-align: center;
                            }
                            p {
                                height: 100px;
                                color: var(--color2);
                                background-color: var(--color4);
                                display: block;
                                font-size: 18px;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
            /* section: fruits */
section.fruits {
    background-color: var(--color1);
    padding: 50px;
    
    h2 {
      color: var(--color3);
      text-align: center;
      margin-right: -500px;
      width: 350px;
      font-family: var(--font-heading);
      font-size: 24px;
    }
    div.slider4 {
      margin-inline: auto;
      margin-block: 2rem;
      width: 90%;
      article {
        height: 800px;                  
        figure {
          img {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            display: block;
          }
          figcaption {
            background-color: var(--color1);
            color: var(--color3);
            font-family: var(--font-body);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            height: 100px;
            text-align: center;
          }
          p {
            height: 100px;
            color: var(--color2);
            background-color: var(--color4);
            display: block;
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  footer {
    background-color: var(--color2);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-inline: 1rem;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer li {
    margin: 20px;
  }
  
  footer a {
    color: var(--color3);
    font-family: var(--font-heading);
    text-decoration: none;
    font-size: 25px;
    transition: transform 0.2s ease-in;
  }
  
  footer a:hover {
    transform: scale(1.1);
    transform: translateY(5px);
  }
}
}
